
---
spring:
  config.activate.on-profile: default
  sql.init.platform: h2
cds:
  data-source.auto-config.enabled: false
  security.mock.enabled: true	
  security:
    mock.users:
      admin:
        roles: Admin
      viewer:
        roles: Viewer
---
spring:
  config.activate.on-profile: cloud
cds:
  index-page.enabled: true
  security.mock.enabled: true	
  security:
    mock.users:
        admin:
          roles: admin
        viewer:
          roles: viewer
---
management:
  endpoint:
    health:
      show-components: always
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include: health
  health:
    defaults:
      enabled: false
    ping:
      enabled: true
    db:
      enabled: true
